.logo{
	margin: 5px 0px 5px 5px;
	margin-right: auto;
	width: 100px;
}
.navbar{
	display: flex;
	justify-content: flex-end;
}
.navbar a{
	padding: 15px 10px 0px 10px;
	text-align: center;
	color: black;
	font-size: 27px;
	text-decoration: none;
	text-transform: uppercase;
	display: flex;
}
.navbar a.navbar1, .navbar a:hover{
	margin: 5px;
	background: #f0932b;
	transition: .5s;
}
.gambar1{
    width: 50%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.credit{
	text-align: right;
}